* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

.container {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: #f20e0e;
}
.header {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Dosis',sans-serif;
  background-color: #f20e0e;
  width: 100%;
  height: 56px;
}

.brand-logo {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 36px;
  font-weight: 500;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

img {
  width: 100%;
}

.hero p {
  font-size: 2.3rem;
  font-weight: 500;
  padding: 1.2rem;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}

input {
  width: 20rem;
  max-width: 100%;
  margin: 0.5rem;
  border: 2px solid #f20e0e;
  padding: 0.3rem 0.4rem;
  height: 2.5rem;
}

button {
  background-color: #f20e0e;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 8.625rem;
  margin: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 56px;
}